.Title {
    background: linear-gradient(to right, var(--color5--), var(--color4--), rgb(70, 70, 239));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-animation: color-change 4s linear infinite alternate both;
    animation: color-change 4s linear infinite alternate both;
    background-size: 200%; 
}

.Title > p {
    font-weight: 400;
    font-size: 100px;
    align-items: center;
    text-align: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.container{
    margin-top: 7%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.Create{
    width: 70vh;
    height:80vh auto;
    margin-right: 40px;
    background-color: var(--color1--);
}
.quiz-form{
    background-color: var(--color3--);
    width: 65vh;
    height: 30vh auto;
    display: flex;
    margin: 5%;
    border-radius: 0.8vh;
}
.input{
    margin: 7%;
}
.title{
    border: 1.5px solid var(--color1--);
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
    background-color:var(--color2--) ;
}
.title > input{
    background-color: var(--color2--);
    border-style: none;
}
.title > input:focus{
    outline: none;
}

.description{
    border: 1.5px solid var(--color1--);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
    background-color:var(--color2--) ;
}
.description > #quiz-description{
    background-color: var(--color2--);
    border-style: none;
    width: 55vh;
    border-radius: 0.8vh;
}

.description > #quiz-description:focus{
    outline: none;
}
.button {
    margin: 20px 0 10px 0;
    background-color:var(--color3--);
    border: none;
    color: var(--color6--);
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 25%;
    align-items: center;
    text-align: center;
    cursor: pointer;
    display: flex;
}

.button:hover {
    color: var(--color3--);
    background-color: var(--color6--);
}

.question-form{
    background-color: var(--color3--);
    width: 65vh;
    height: 30vh auto;
    display: flex;
    margin: 5%;
    border-radius: 0.8vh;
}
.form{
    margin: 7%;
}
.titleC{
    border: 1.5px solid var(--color1--);
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
    background-color: var(--color2--);
}

.QuizId{
    background-color: var(--color2--);
    border-style: none;
    width: 55vh ;
    height: 50%;
    border-radius: 0.8vh;
}

.titleC > .QuizId:focus{
    outline: none;
}


.question{
    border: 1.5px solid var(--color1--);
    border-radius: 10px;
    height: 50px auto;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
    background-color:var(--color2--) ;
}
.question > #question-text{
    background-color: var(--color2--);
    border-style: none;
    width: 55vh;
    height: 80%;
    border-radius: 0.8vh;
}
.question > #question-text:focus{
    outline: none;
}
.AOption{
    border: 1.5px solid var(--color1--);
    border-radius: 10px;
    height: 50px ;
    width: 221px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
    background-color:var(--color2--) ;
}
.AOption > .box{
    background-color: var(--color2--);
    border-style: none;
    width: 55vh;
    height: 80%;
    border-radius: 0.8vh;
}
.AOption > .box:focus{
    outline: none;
}
.checkbox{
    position: relative;
    right: 5px;
}
.add{
    border-radius: 0.8vh;
    outline: none;
    border-style:none;
    background-color: var(--color2--);
}
.add:hover{
    background-color: var(--color1--);
}
.QUIZ{
    display: flex;
    flex-direction: column;
}
.GTitle{
    border: 1px solid black;
    border-radius: 0.8vh;
    margin: 5px;
    width: 75vh ;
    background-color: var(--color3--);
}
.GTitle>.delete{
    background-color: var(--color3--);
    border-radius: 0.8vh;
    color: red;
}
.delete:hover{
    background-color: var(--color2--);
    color: red;
}
.delete> p{
    text-align: center;
}

.GTitle> div{
    margin: 10px;
}
.delete{
    border-radius: 0.8vh;
    border-style: none;
    text-align: center;
    align-items: center;
    height: 30px;
}
.quiz-actions{
    background-color: var(--color1--);
    overflow: scroll;
    height: 360px;
}
.quiz-actions > h3{
    background-color: var(--color1--);
}
.questions{
    background-color: var(--color1--);
    overflow: scroll;
    height: 300px;
    border-radius: 0.8vh;
}
.questions > div{
    margin: 10px;
}
.questionBoxG{
    border: 1px solid black;
    border-radius: 0.8vh;
    margin: 5px;
    width: 75vh ;
    background-color: var(--color3--);
}
.OptionG{
    display: flex;
    flex-direction: row;
}
.OptionG > h5{
    margin: 10px;
}
#QuestionsId{background-color: var(--color2--);
border-style: none;
width: 30vh ;
height: 50%;
border-radius: 0.8vh;
}
.option-item{
    align-items: center;
}
.OptionBox > .delete{
    margin: 10px;
}
.logoutB{

    justify-content: center;
    margin: 20px 0 10px 0;
    background-color:var(--color3--);
    border: none;
    color: var(--color6--);
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 100px;
    width: 70%;
    align-items: center;
    text-align: center;
    cursor: pointer;
    display: flex;
    box-shadow: inset 0 0 10px #6a6a6a;
}
.logoutB>p{
    font-weight: 100px;
    font-size: 100px;

}
.logoutB>p:hover{
    -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.logoutB:hover{
    background-color: var(--color4--);
    color: red;

}

.search {
  --input-line: var(--color1--);
  --input-text-color: var(--color4--);
  --input-text-hover-color: transparent;
  --input-border-color: var(--color1--);
  --input-border-hover-color: var(--color2--);
  --input-bg-color: var(--color4--);
  --search-max-width: 250px;
  --search-min-width: 150px;
  --border-radius: 5px;
  --transition-cubic-bezier: 140ms cubic-bezier(0.4,0,0.2,1);
}

.search-box {
  max-width: var(--search-max-width);
  min-width: var(--search-min-width);
  height: 35px;
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  padding: 5px 15px;
  background: var(--input-bg-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: var(--transition-cubic-bezier);
}

.search-box:hover {
  border-color: var(--input-border-hover-color);
}

/*Section input*/
.search-field {
  position: relative;
  width: 100%;
  height: 100%;
  left: -5px;
  border: 0;
}

.input {
  width: calc(107% - 35px);
  height: 100%;
  border: 0;
  border-color: transparent;
  font-size: 1rem;
  padding-right: 0px;
  color: black;
  background: var(--input-bg-color);
  border-right: 2px solid var(--input-border-color);
  outline: none;
}

.input::-webkit-input-placeholder {
  color: var(--input-text-color);
}

.input::-moz-input-placeholder {
  color: var(--input-text-color);
}

.input::-ms-input-placeholder {
  color: var(--input-text-color);
}

.input:focus::-webkit-input-placeholder {
  color: var(--input-text-hover-color);
}

.input:focus::-moz-input-placeholder {
  color: var(--input-text-hover-color);
  
}

.input:focus::-ms-input-placeholder {
  color: var(--input-text-hover-color);
}

/*Search button*/
.search-box-icon {
    display: flex;
    flex-direction: row;
  width: 52px;
  height: 35px;
  position: absolute;
  top: -6px;
  right: -21px;
  background: transparent;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  transition: var(--transition-cubic-bezier);
}

.search-box-icon:hover {
  background: var(--input-border-color);

}

.btn-icon-content {
  width: 52px;
  height: 35px;
  top: -6px;
  right: -21px;
  background: transparent;
  border: none;
  cursor: pointer;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  transition: var(--transition-cubic-bezier);
  opacity: .6;
}

.btn-icon-content:hover {
  opacity: .9;
  color: var(--color2--);

}

.search-icon {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 7px;
  right: 15px;
}